body{
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    background-image: url(../img/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Slabo 27px', serif; */
    position: relative;
}

.navigate{
    padding: 2.5vh;
    box-shadow: inset 7px 20px 100px 10px rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.navigate a{
    padding: 20px;
    color: white;
}

footer{
    padding: 2.5vh;
    margin-top: 100px;
    box-shadow: inset 7px 20px 100px 10px rgba(0,0,0,0.5);
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

footer a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    .content, .instructions, #game, .navigate, footer {
      display: none;
    }
    .smallScreens{
        display: block;
        padding: 100px 20px 0 20px;
        color: red;
        font-weight: bold;
    }
    .smallScreens::after{
        content: "Helaas, dit scherm is te klein om deze spelletjes te spelen. Je kan ook gewoon een koffie drinken in de plaats.";
    }
  }

h1, h2{
    font-family: 'Yeon Sung', cursive;
    color: white;
    line-height: 10vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
}

div#text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blink {
    -webkit-animation: blink 2s step-end infinite;
    animation: blink 2s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
@keyframes blink { 50% { visibility: hidden; }}

