div#background {
    background-image: url('../img/grassAndBlueSky.jpg');
}

div#hero{
    background-image: url('../img/bakfiets.png');
}

div.missile{
    background-image: url('../img/hand.png');
}

div.enemy {
    background-image: url('../img/coffee.png');
}